*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    /* padding: 0.5em; */
}
h2{
    text-align: center;
}
img{
    width: 15em;
    height: 20em;
}
i{
    position: absolute;
    font-size: 2.5em;
    border-radius: 15px;
    border: magenta double 0.1em;
    background: rgba(255, 0, 136, 0.3);
    color: magenta;
    padding: 5px;
    margin-bottom: 6em;
    margin-left: 5em;
    transform: rotate(20deg);
}
.fa-thumbs-down{
    border: red double 0.1em;
    background: rgba(255, 0, 0, 0.3);
    color: red;
}
.fa-thumbs-up{
    border: green double 0.1em;
    background: rgba(43, 255, 0, 0.612);
    color: rgb(24, 161, 24);
}

#inputSubmit, #champ
{
    position: absolute;
    top: 1em;
    margin: auto;
}
#inputSubmit{
    margin-top: 1.5em;
}