<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Propos</title>
</head>
<body>
    <header>
        <h1>Mon Application TodoList de <%=humain.name%></h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/a_propos" disabled>A propos</a></li>
            </ul>
        </nav>
    </header>
    <h1>A Propos :</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quod provident aliquam dicta? Sequi voluptatibus excepturi nesciunt quos assumenda quod beatae impedit ipsam, laborum iure? Fuga amet qui voluptatem necessitatibus sint voluptates eaque nisi eos, id adipisci assumenda excepturi aut perferendis laborum beatae, recusandae doloribus eligendi similique exercitationem? Voluptatum at quos cupiditate fugit ea fugiat sunt laborum culpa voluptatem commodi, sit, nulla ipsum animi odio illo dignissimos quia natus. Illum sunt corrupti commodi vero necessitatibus cum accusamus obcaecati, voluptate autem perspiciatis similique ducimus nihil consequuntur, vitae consectetur! Voluptates, facilis impedit dolorum doloribus repellat eius veritatis sequi assumenda nesciunt cum debitis saepe est voluptatem, quisquam dolorem magni possimus quibusdam veniam? Sequi repellat amet accusamus sapiente, iusto quaerat totam ut odio corrupti. Inventore voluptatibus fugiat qui blanditiis dolorum error deleniti, sequi eos beatae sunt explicabo. Labore fugiat quia laborum officiis dolorem atque voluptate, obcaecati sapiente omnis, assumenda delectus vel, neque quis nobis!</p>
</body>
</html>